main{
    height: 80vh;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-body{
    background-color: #212121;
    border-radius: 20px;
    border: #414141 solid 1px;
    margin-top: 10px;
    padding: 15px;
}

.input-button{
    display: flex;
    flex-direction: column;
}

.content-web{
    display: flex;
    height: 100%;
}

.content-body{
    width: 100%;
}