*{
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

body{
    background-color: #212121;
    color: #FFFFFF;
}

.header{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin: 3px 15px;
    position: relative;
    word-spacing: 5px;
}

.left-header{
    align-self: center;
    display: flex;
    gap: 7px;
    margin-left: -10px;
    margin-top: 5px;
}

.right-header{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.right-header-content{
    align-items: center;
    background-color: #212121;
    border-radius: 20px;
    border: 1px #414141 solid;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    gap: 5px;
    height: 34px;
    margin-right: 10px;
    padding: 12px;
}

.button-profile{
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 30px;
    padding: 0px;
}

.img-profile{
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

.button{
    background-color: #212121;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.button-modal{
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: bold;
}

.modal-plus-closed{
    display: none;
}

.modal-plus-open{
    align-items: center;
    background-color: #2F2F2F;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    position: absolute;
    top: 30px;
}

.modal-content{
    align-items: center;
    cursor: pointer;
    background-color: #2F2F2F;
    border: none;
    display: flex;
    font-size: 12px;
}

.modal-text-content{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    max-width: 160px;
    text-align: start;
}

.modal-text-content h3,p{
    margin: 0;
}

.modal-title{
    color: #C8C8C8;
}

.modal-text{
    color: #858585;
}

.modal-button{
    background-color: #2F2F2F;
    border-radius: 15px;
    border: 1px #4E4E4E solid;
    color: white;
    cursor: pointer;
    height: 34px;
    padding: 0 10px;
}