*{
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

body{
    background-color: #212121;
    color: #FFFFFF;
}

.header{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin: 3px 15px;
    position: relative;
    word-spacing: 5px;
}

.left-header{
    align-self: center;
    display: flex;
    gap: 7px;
    margin-left: -10px;
    margin-top: 5px;
}

.right-header{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.right-header-content{
    align-items: center;
    background-color: #212121;
    border-radius: 20px;
    border: 1px #414141 solid;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    gap: 5px;
    height: 34px;
    margin-right: 10px;
    padding: 12px;
}

.button-profile{
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 30px;
    padding: 0px;
}

.img-profile{
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

.button{
    background-color: #212121;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.modal-plus{
    display: none;
}

.button-modal{
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: bold;
}
